* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s all;
  scroll-behavior: smooth;
}

body {
  font-family: 'segoe ui', 'Roboto', sans-serif;
  background-color: #f5f8fc;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin-block-end: 0.83em;
}

h2 {
  display: block;
  font-size: 1.8rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  display: block;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

article p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}
.displayflex2{
  display: flex;
  flex-direction: column;
}

@media (max-width:992px){
  .displayflex{
    display: flex;
    flex-direction: column;
  }
  .col-7{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0;
  background-color: #FF0000;

}

.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  /* padding-top: 0.3125rem;
    padding-bottom: 0.3125rem; */
  padding-left: 5px;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  /* color: rgba(0, 0, 0, .9); */
  color: #fff;
  font-weight: 600;
}

.logo {
  display: inline-block !important;
  /* vertical-align: text-top!important; */
  vertical-align: middle;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  flex-grow: 1 !important;
  list-style: none;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.nav-mobile {
  display: none;
}

#nav-toggle {
  position: absolute;
  right: 0px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 22px;
  background: #6c757d;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Tool style */
.tool {
  border-bottom: 1px solid #dfdfdf;
}

.tool li {
  text-transform: capitalize;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  list-style: none;
}

.toolicon {
  font-size: 1.3rem;
}

.tool li:hover {
  color: #FF0000;
}

.tool a {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: inherit;
}

.toolcenter {
  max-width: 750px;
  margin: 0 auto !important;
}
.tool li {
  transition: transform .5s;
}
.tool li:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.focus {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
}

.site {
  font-size: 35px;
  line-height: 2rem;
  margin-block-end: 0.2em !important;
  --tw-text-opacity: 1;
  color: rgb(52 58 64/var(--tw-text-opacity));
}

/* Search box and Badge */
.badge {
  font-size: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background: #06bc13;
  transform: translateX(-50%) !important;
  left: 50% !important;
  position: relative !important;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.search {
  padding: 0 2.5rem;
}

.form-control {
  border: 2px solid #06bc13;
  /* box-shadow: 0 4px 12px -2px rgb(107 117 161 / 50%); */
  padding: 1.1rem 1.5rem;
  display: block;
  width: 100%;
  outline: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input::placeholder {
  color: rgb(140, 140, 140);
}

.mb {
  margin-bottom: 1.4rem !important;
}

.mb1 {
  margin-bottom: .5rem !important;
}

.mb2 {
  margin-bottom: 2rem !important;
  ;
}

/* Share button  */
.share {
  text-align: center;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.2em
}

.resp-sharing-button {
  border-radius: 100%;
  transition: 25ms ease-out;
  padding: 0.7em 0.8em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Banner desktop adAds */
.ads {
  min-height: 180px;
  background: #dedede;
}

/* show button */
.show svg {
  width: 1.8em;
  height: 1.8em;
  margin: 0;
  vertical-align: middle
}

.show {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.4rem;
  background-color: #00bd0f;
  display: block;
  text-decoration: none;
  color: #fff;
  border-radius: 100%;
  transition: 25ms ease-out;
}

.show:hover {
  background-color: #fff;
  color: #00bd0f;
}

/* Thumbnail Box Styling */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.col {
  flex: 1 0 0%;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.col {
  flex: 1 0 0%;
}

.row > * {
  flex-shrink: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-1>* {
  flex: 0 0 auto;
  width: 100%;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 1px solid #dee2e6;
  border-color: #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  /* border-bottom-width: 1px; */
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  /* border-top: 2px solid currentColor; */
}
.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

.align-middle {
  vertical-align: middle !important;
}
.quality {
  color: red;
  font-size: 0.75rem;
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}
.vid {
  border: none !important;
}

/* Result Tab Styling  */
* {
  font-family: "Work Sans", sans-serif;
}


label,
a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  /* border-bottom: 5px solid bd081c; */
  padding: 3px 2px;
}
label:hover,
a:hover {
  border-bottom-color: red;
}

.layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

input[type=radio] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
}
input[type=radio]:checked + .page + label.nav {
  background: red;
  color: #ffffff;
  /* padding-left: 20px; */
}
/* input[type=radio]:checked + .page + label.nav span {
  padding-left: 20px;
} */
input[type=radio]:checked + .page + label.nav svg {
  opacity: 1;
}
label.nav span {
  padding-left: 0px;
  position: relative;
}
label.nav svg {
  left: 0;
  /* top: -3px; */
  /* position: absolute; */
  width: 20px;
  /* opacity: 0; */
  transition: opacity 0.2s;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  /* padding: 0px 0px; */
  display: flex;
  align-items: top;
}

.page-contents > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}
.page-contents > *:nth-child(1) {
  transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
  transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
  transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
  transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
  transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
  transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
  transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
  transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
  transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
  transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
  transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
  transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
  transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
  transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
  transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
  transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
  transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
  transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
  transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
  transition-delay: 4.2s;
}

input[type=radio] + .page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type=radio]:checked + .page {
  transform: translateX(0%);
}
input[type=radio]:checked + .page .page-contents > * {
  opacity: 1;
  transform: translateY(0px);
}

.page-contents {
  min-width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
  vertical-align: middle-with-baseline;
}
.duration {
  color: #67748e;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-text {
  line-height: 1rem;
  margin-bottom: 1rem;
}

/* Result Styling  */

.chrome-ext {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;

}

.chrome-ext img {
  width: 206px;
}

.firefox-ext {
  display: inline-block;
}

.download {
  text-decoration: none;
}

.float-end {
  float: right !important;
}

.btn {
  padding: 2px 6px;
  color: #fff;
  background-color: #06bc13;
  border-color: #06bc13;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 0.95rem;
  border-radius: 0.2rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* Extensions  */
.ext {
  max-width: 600px;
  margin: 0 auto;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  border-top-left-radius: 0;
}

.card-header {
  border-top: 0;
}

/* Article Styling  */
.post {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 5px;
  min-height: 100vh;
}

article ul li,
article ol li {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

code {
  background-color: rgb(231, 231, 231);
  word-wrap: break-word;
}



/* Faq Styling  */
.faq-heading {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  max-width: 900px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.3rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answeer p {
  font-size: 0.85rem;
  padding-top: 1rem;
  line-height: 1.6;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active span {
  transform: rotate(180deg);
}

.faq span {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Go to Top  */
#myBtn {
  position: fixed;
  bottom: 45px;
  right: 20px;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #db2823;
  color: #fff;
  padding: 0.4rem;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #212529;
}

#myBtn svg {
  width: 1.4rem;
  height: 1.4rem;
}

/* Footer Styling */
.footer {
  background-color: #212529;
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 0;
    margin-bottom: 0; */
  list-style: none;
  justify-content: center !important;
}

.text-center {
  text-align: center;
}

.copy {
  color: rgb(157, 157, 157);
}

/* Media Query  */
@media only screen and (max-width: 798px) {
  .navbar-nav {
    margin-left: 2rem;
  }

  .nav-mobile {
    display: flex;
  }

  .menu {
    width: 100%;
  }

  .menu ul {
    display: none;
  }

  .menu ul li {
    float: none;
  }

  .menu ul li a {
    padding: 10px;
    line-height: 20px;

  }

  .menu ul li ul li a {
    padding-right: 30%;
  }

  .nav-dropdown {
    position: static;
  }

  .resp-sharing-button {
    padding: 0.4em 0.5em;
  }

  .post {
    padding: 15px;
  }
  .site {
    font-size: 30px;
  }
}

@media screen and (min-width: 799px) {
  .navbar-nav {
    display: flex !important;
  }
}

@media (max-width: 668px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  article li,
  code {
    font-size: 0.85rem;
  }

}

@media (max-width: 410px) {
  .links a {
    font-size: 1.2rem;
  }
  .site {
    font-size: 15px;
  }
  .tooltxt {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 1rem !important;
  }

  .navbar-brand {
    font-size: 1rem;
    margin: 0 auto;
    font-weight: 800;
  }

  .logo {
    width: 30px;
    display: block !important;
    margin: 0 auto;
    padding-bottom: 1px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-toggle {
    top: 10px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    height: 2px;
    width: 18px;
  }

  #nav-toggle span:before {
    top: -6px;
  }

  #nav-toggle span:after {
    bottom: -6px;
  }
  
  .search {
    padding: 0 0.8rem;
  }

  .badge {
    font-size: 0.70rem;
    padding: 0.30em 0.65em;
  }

  .form-control {
    padding: 0.75rem 1.5rem;
  }

  .mb {
    margin-bottom: 1rem !important;
  }

  .g-4,
  .gy-4 {
    --bs-gutter-y: 1rem;
  }

  .resp-sharing-button {
    padding: 0.2em 0.3em;
  }

  .resp-sharing-button__icon svg {
    height: 0.8em;
  }
  .site {
    font-size: 20px;
  }
  .toolicon {
    font-size: 1.2rem;
  }
  .tool li:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  .show svg {
    width: 1.5em;
    height: 1.5em;
  }

  .show {
    margin: 0.4rem;
    top: 0.1rem;
    right: 0.1rem;
  }

  .chrome-ext img {
    width: 170px;
  }

  .firefox-ext img {
    width: 155px;
  }

  .post {
    padding: 10px;
  }

  h1 {
    font-size: 1.6rem;
    margin-block-end: 0.6em;
  }

  h2 {
    font-size: 1.2rem;
  }

  .question h3 {
    font-size: 0.9rem;
  }

  .nav li {
    font-size: 12px;
  }

  .card-title {
    font-size: 0.85rem;
  }
  .vid-title {
    line-height: 1.6rem !important;
  }

  .ads {
    min-height: 90px
  }

  .card-body {
    padding: 0.7rem 0.5rem;
    font-weight: -600;
  }

  .btn {
    padding: 1px 5px;
    font-size: 0.8rem;
  }

  .faq-heading {
    width: 100%;
  }

  #myBtn {
    bottom: 20px;
    right: 20px;
    padding: 0.3rem;
  }

  #myBtn svg {
    width: 1.4rem;
    height: 1.4rem;
  }

}

