


<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube Video Downloader &#9655; Youtube video Download HD</title>
    <meta name="description"
        content="Youtube Shorts Downloader is the best tool to download youtube shorts HD, MP4, and MP3. Copy-paste video link for youtube short video download online.">
    <meta name="keywords"
        content="youtube shorts downloader, shorts downloader, shorts video download, shorts video downloader,  download youtube shorts, download youtube short videos, download youtube short video, youtube short video download, youtube short video downloader, youtube short download, youtube shorts video download, yt short video download, youtube shorts to mp4, download youtube shorts to mp4, shorts download in HD, youtube short download, youtube shorts downloader online, short youtube video download, Youtube shorts download online, how to download youtube shorts">
    <meta name="msapplication-navbutton-color" content="#cd067c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#cd067c" />
    <!-- Open Graph / Facebook / Twitter -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shortsdownloader.com">
    <meta property="og:title" content="YouTube Shorts Downloader &#9655; Youtube Shorts video Download HD">
    <meta property="og:description"
        content="Youtube thumbnail downloader is the fastest thumbnail grabber that helps download youtube thumbnail in HD. Best tool for Youtube thumbnail download.">
    <meta property="og:image" content="images/youtube-thumbnail-downloader.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://shortsdownloader.com">
    <meta property="twitter:title" content="YouTube Shorts Downloader &#9655; Youtube Shorts video Download HD">
    <meta property="twitter:description"
        content="Youtube thumbnail downloader is the fastest thumbnail grabber that helps download youtube thumbnail in HD. Best tool for Youtube thumbnail download.">
    <meta property="twitter:image" content="https://shortsdownloader.com/images/youtube-thumbnail-downloader.webp">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon16.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon180.webp">
    <link rel="canonical" href="https://shortsdownloader.com" />
    <link rel="alternate" hreflang="x-default" href="https://shortsdownloader.com">
    <link rel="alternate" hreflang="en" href="https://shortsdownloader.com">
    <link rel="alternate" hreflang="ar" href="https://shortsdownloader.com/ar">
    <link rel="alternate" hreflang="bn" href="https://shortsdownloader.com/bn">
    <link rel="alternate" hreflang="zh" href="https://shortsdownloader.com/zh">
    <link rel="alternate" hreflang="fr" href="https://shortsdownloader.com/fr">
    <link rel="alternate" hreflang="de" href="https://shortsdownloader.com/de">
    <link rel="alternate" hreflang="el" href="https://shortsdownloader.com/el">
    <link rel="alternate" hreflang="hi" href="https://shortsdownloader.com/hi">
    <link rel="alternate" hreflang="hu" href="https://shortsdownloader.com/hu">
    <link rel="alternate" hreflang="id" href="https://shortsdownloader.com/id">
    <link rel="alternate" hreflang="it" href="https://shortsdownloader.com/it">
    <link rel="alternate" hreflang="ja" href="https://shortsdownloader.com/ja">
    <link rel="alternate" hreflang="ko" href="https://shortsdownloader.com/ko">
    <link rel="alternate" hreflang="pl" href="https://shortsdownloader.com/pl">
    <link rel="alternate" hreflang="pt" href="https://shortsdownloader.com/pt">
    <link rel="alternate" hreflang="ru" href="https://shortsdownloader.com/ru">
    <link rel="alternate" hreflang="es" href="https://shortsdownloader.com/es">
    <link rel="alternate" hreflang="sw" href="https://shortsdownloader.com/sw">
    <link rel="alternate" hreflang="te" href="https://shortsdownloader.com/te">
    <link rel="alternate" hreflang="th" href="https://shortsdownloader.com/th">
    <link rel="alternate" hreflang="tr" href="https://shortsdownloader.com/tr">
    <link rel="alternate" hreflang="uk" href="https://shortsdownloader.com/uk">
    <link rel="alternate" hreflang="vi" href="https://shortsdownloader.com/vi">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700;800&display=swap">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SoftwareApplication",
            "name": "YouTube Thumbnail Downloader",
            "operatingSystem": ["Windows", "macOS", "Android", "iOS"],
            "applicationCategory": "WebApplication",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "ratingCount": "25230"
            },
            "offers": {
                "@type": "Offer",
                "price": "0.0",
                "priceCurrency": "USD"
            }
        }
    </script>
</head>

<body>
    <header class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://shortsdownloader.com">
                <img src="{% static 'images/favicon180.webp' %}" width="30px" alt="Youtube Shorts Downloader" class="logo"> Youtube Video
                Downloader
            </a>
            <div class="menu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="https://shortsdownloader.com" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">English</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/de">German</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/es">Español</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/fr">Français</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/hi">Hindi/हिन्दी</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/hi">Bengali/বাঙালি</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ar">Arabic/العربية</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ur">Urdu/اردو</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/bn">Bengali</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/cn">Chinese/简体中文</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/fi">Finnish</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/nl">Dutch</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/el">Greek</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/my">Myanmar</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ms">Malay</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/hu">Hungarian</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/id">Indonesian</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/it">Italiano</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ja">Japanese/日本語</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ko">Korean</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/pl">Polish</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/pt">Portuguese/Português</a>
                            </li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/ru">Russain/Русский</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/te">Telugu</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/th">Thai/ไทย</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/tr">Turkish/Türkçe</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/uk">Ukrainian</a></li>
                            <li><a class="dropdown-item" href="https://shortsdownloader.com/vi">Viatnamese/Tiếng
                                    Việt</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav-mobile" id="nav-toggle"><a href="#"><span></span></a></div>
        </div>
    </header>

    {% block content %}{% endblock content %}
    
    

    <!-- Footer Starts Here -->
    <footer class="footer">
        <div class="container">
            <ul class="nav">
                <li class="nav-item"><a href="https://shortsdownloader.com" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="https://shortsdownloader.com/disclaimer" class="nav-link">Disclaimer</a>
                </li>
                <li class="nav-item"><a href="https://shortsdownloader.com/privacy-policy" class="nav-link">Privacy
                        Policy</a></li>
                <li class="nav-item"><a href="https://shortsdownloader.com/about-us" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="https://shortsdownloader.com/contact-us" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item"><a href="https://shortsdownloader.com/sitemap.xml" class="nav-link">Sitemap</a>
                </li>
            </ul>
            <p class="text-center copy pb-2">Copyright © <script>
                    document.write(new Date().getFullYear())
                </script> Youtube Video Downloader</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        {% block js %}{% endblock js %}
        </script>
</body>
</html>