<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube Video Downloader &#9655; Youtube video Download HD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon16.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon180.webp">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700;800&display=swap">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SoftwareApplication",
            "name": "YouTube Thumbnail Downloader",
            "operatingSystem": ["Windows", "macOS", "Android", "iOS"],
            "applicationCategory": "WebApplication",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "ratingCount": "25230"
            },
            "offers": {
                "@type": "Offer",
                "price": "0.0",
                "priceCurrency": "USD"
            }
        }
    </script>
</head>

<body>
    <header class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/favicon180.webp' %}" width="30px" alt="Youtube Shorts Downloader" class="logo"> Youtube Video
                Downloader
            </a>
            <div class="menu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">English</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/de">German</a></li>
                            <li><a class="dropdown-item" href="/es">Español</a></li>
                            <li><a class="dropdown-item" href="/fr">Français</a></li>
                            <li><a class="dropdown-item" href="/hi">Hindi/हिन्दी</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav-mobile" id="nav-toggle"><a href="#"><span></span></a></div>
        </div>
    </header>

    {% block content %}{% endblock content %}
    <footer class="footer">
        <div class="container">
            <ul class="nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Disclaimer</a>
                </li>
                <li class="nav-item"><a href="/" class="nav-link">Privacy
                        Policy</a></li>
                </li>
                </li>
            </ul>
            <p class="text-center copy pb-2">Copyright © <script>
                    document.write(new Date().getFullYear())
                </script> Youtube Video Downloader</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        {% block js %}{% endblock js %}
        </script>
</body>
</html>