{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
    <div class="container-fluid tool mb">
        <ul class="row toolcenter">
            <li class="col text-center focus">
                <a href="#">
                    <span class="toolicon"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                            width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <rect width="20" height="16" x="2" y="4" rx="4" />
                                <path d="m15 12l-5-3v6l5-3Z" />
                            </g>
                        </svg></span>
                    <span class="tooltxt">{% trans 'Youtube Video Downloader' %}</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="container">
        <div class="search">
            <h1 class="text-center site"><b>YouTube Shorts Downloader</b></h1>
            <p class="text-center mb">YouTube Short Video Download Online</p>
            <span class="badge">Enter the Link of YouTube Shorts Video</span>
            <form method="post" id="search-form">
                {% csrf_token %}
                <input type="text" class="form-control mb" placeholder="https://www.youtube.com/watch?v=EDE10UUnAzM" name="urls" id="urls" required>
                <button class="btn btn-success" onclick="post_comment()">Search</button>
            </form>
        </div>
        <script type="text/javascript">
        function post_comment() {
            $.post(
              '/home/',{
                reply: false,
                csrfmiddlewaretoken: $('input[url="csrfmiddlewaretoken"]').val(),
                url: $('input[name="urls"]').val(),
              },
              function (data) {
                alert(data);
              }
            );
          }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>

        <div class="share mb">
        </div>
        <div id="card" class="mt-5">
        </div>
        <div class="row result">
            {% if title %}
            <div class="col-5">
                <div class="card vid">
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      var vid = "{{video_id}}"
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '250',
          width: '400',
          videoId: vid,
          playerVars: {
            'playsinline': 1
          },
          events: {
            
            'onStateChange': onPlayerStateChange
          }
        });
      }
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
                    <div class="card-body">
                        <h3 class="card-title vid-title">{{title}}
                        </h3>
                        <p class="card-text duration">Duration: {{duration}}</p>
                        <p class="card-text duration">Views: {{views}} </p>
                        <p class="card-text duration">Likes: {{likes}} </p>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="layout">
                    <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
                    <div class="page home-page">
                        <div class="page-contents">
                            <table class="table table-hover align-middle table-borderedless">
                                <thead>
                                    <tr>
                                        <th scope="col">Quality</th>
                                        <th scope="col">Sizes</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stream in streams %}
                                    <tr>
                                        <th>{{stream.resolution}}</th>
                                        <td>{{stream.file_size}}</td>
                                        <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                                            download="{{ title }}.{{ extension }}" target="_blank"><button class="btn">Download</button> <i
                                             class=" fa fa-download"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="nav" for="home">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M18 7c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-3.333L22 17V7l-4 3.333V7z"/></svg>
                            Video
                        </span>
                    </label>
                </div>
            </div>
            {% endif %}
    </section>
    {% endblock content %}
</body>

</html>